.verification-form {
  padding: 20px;
  min-width: 400px;
  min-height: 400px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
  align-items: center;
  border: 1px solid white;
}

.verification-form {
  position: relative;
  z-index: 2;
}
